{% extends "chat/base.html" %}
{% load static %}
{% load cache %}
{% block head %}
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="{% static 'chat/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block container %}
<div class="container">
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card chat-app">
            <div id="plist" class="people-list" data-href="{% url "chat:chat-list" %}">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Search...">
                </div>
            </div>
            <div class="chat">
                <div class="chat-header clearfix" id="header">
                </div>
                    <div class="chat-history" style="overflow-y:auto;">
                    </div>
                <div class="type_msg">
                  <div class="input_msg_write">
                    <input type="text" class="write_msg" placeholder="Type a message"/>
                    <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock container %}
{% block jquery %}
  $.getScript('{% static 'chat/js/reconnecting_websocket.js' %}');
  $.getScript('{% static 'chat/js/api.js' %}');
  $.getScript('{% static 'chat/js/chat_sockets.js' %}');
{% endblock jquery %}
